@model Selectum.Models.Selection

@{
    ViewBag.Title = "Pick Your Games";
}

<h2>Pick Your Games New</h2>
@using (Html.BeginForm())
{
    <div>
        <span>Please select the week:</span>
        <div class="btn-toolbar">
            <div class="btn-group">
              <button class="btn">@Model.CurrentGameFilter.GameFilterName</button>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                @{ var gfCounter = 0; }
                @foreach (var item in @Model.GameFilters){
                    gfCounter = gfCounter + 1;
                    <li><a tabindex="@gfCounter" href="~/Selection/GameFilter/@gfCounter">@item.GameFilterName</a></li>
                }
              </ul>
            </div>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                  <th>Possible Bets</th>
                  <th>Placed Bets</th>
                  <th>Available Points</th>
                  <th>Spent Points</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span id="possibleBets">@Model.PossibleBets</span>
                        <input id="maxPossibleBet" type="hidden" value="@Model.MaxBetForAnyOneGame" />
                        <input id="requiredMinSpentPoints" type="hidden" value="@Model.MinSpentPointsForAnyOneWeek" />
                    </td>
                    <td> 
                        <span id="placedBets">@Model.PlacedBets</span>
                    </td>
                    <td> 
                        <span id="availablePoints">@Model.AvailablePoints</span>
                    </td>
                    <td> 
                        <span id="spentPoints">@Model.SpentPoints</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <span class="label label-warning span1  btn-small">No Bet</span>
                    <span class="label label-success span1  btn-small">Favorite</span>
                    <span class="label label-important span1  btn-small">Underdog</span>
                </th>
                <th>
                    Spread
                </th>
                <th>
                    Date/Time
                </th>
                <th>
                    Your Selection
                </th>
                <th>
                    Bet Amount
                </th>
            </tr>
        </thead>
        @*@Html.EditorFor(s => s.UserGameSelections);*@
    </table>
    
    <table class="table">
        @Html.EditorFor(s => s.UserGameSelections);
    </table>
    <input type="submit" value="Save" />
}

<h2>Pick Your Games Old</h2>

@Scripts.Render("~/Scripts/UserGameSelection/selectionCalculations.js")
@Scripts.Render("~/Scripts/UserGameSelection/selectionDomInteraction.js")
@Scripts.Render("~/Scripts/UserGameSelection/selectionEvents.js")
@Scripts.Render("~/Scripts/UserGameSelection/selectionLogging.js")
@Scripts.Render("~/Scripts/UserGameSelection/selectionObjects.js")