@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <h3>Selectum? What is it?</h3>
    <p>
        Selectum is a betting pool that gives you something to root for while watching football, beyond your fantasy football roster.  You pick the winner of a game, and if they win, you win your bet.  If they do not win (so a loss or a tie), you lose your bet.
    </p>
    <h3>Sounds interesting.  Tell me more.</h3>
    <p>
        Each week, every game will be listed for you to pick who you think is going to win.  Each game, there will be a favorite and an underdog.  Normally, everyone will pick the favorite.  So, to spice things up, there is an upset bonus.  If you pick the favorite and they win, you win your bet.  If they lose, you lose your bet.  However, if you pick the underdog and they win, you win double your bet.  If they lose, you only lose your bet.  
    </p>
    <h3>Go on...</h3>
    <p>
        You will receive 1 point to bet on each game.  You have to at least bet the minimum number of games each week, 6.  But you can bet on as many more games as you wish.  And for each game you bet beyond the minimum, you will receive an additional point to bet on any game.
    </p>
    <p>
        The spread does not count towards who wins the game too.  That way, you are not screaming at the TV with 15 seconds left because your team is kneeling on the 5 yard line.  The spread is used to determine the favorite team though.  The favorite / underdog system is used to spice the game up.
    </p>
    <h3>The Rules:</h3>
    <p>
        You must bet on a minimum of 6 games in which you will get 1 point to spend on each game.
    </p>
    <p>
        Every game you bet on after the 6th game, you will get 1 point to spend on each game plus an additional point to spend on any game
    </p>
    <p>
        You must spend every point you get
    </p>
    <p>
        All bets that you correctly pick the winner will be added to your score
    </p>
    <p>
        All bets that you do not correctly pick the winner (so a loss or a tie) will be subtracted from your score
    </p>    
    <p>
        If you correctly picked an underdog team to win, double your bet will be added to your score.  This does not factor in if the underdog team loses.  Meaning if you bet 2 on an underdog and they lose, you lose 2 points.  But if they win, you win 4 points.
    </p>
    <p>
        All bets must be received by NOON of the earliest game of the week.  This is normally Thursday.  Any bets received after that will be forfeited and the person will receive a -6 for the week.
    </p>

</article>

@*<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@