@model Selectum.ViewModels.ResultsByGame

@{
    ViewBag.Title = "Results";
}

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand disabled">Results</a>
    <ul class="nav">
        <li>
            <a class="disabled">Week</a>
        </li>
        @foreach (var gameFilter in ViewBag.GameFilters)
        {
            var active = "";
            if (gameFilter.Selected)
            {
                active = "active";
            }
            var href = "/ResultsByGame/GameFilter/" + @gameFilter.Value;
        <li>
            <a class="@active" href="@href">
                @gameFilter.Value
            </a>   
        </li>
        }
    </ul>
  </div>
</div>
@if (!string.IsNullOrWhiteSpace(ViewBag.MessageToUser))
{
    <div class="alert alert-error">
        @Html.Raw(ViewBag.MessageToUser)
    </div>
}
@if (!string.IsNullOrWhiteSpace(ViewBag.MessageToUserSelectedGameFilterId))
{
    <div class="alert alert-info">
        @Html.Raw(ViewBag.MessageToUserSelectedGameFilterId)
    </div>
}
<table class="table table-bordered">
    <tr>
        <th colspan="4">
        </th>
        @foreach (var users in Model.Users)
        {
            <th colspan="3" class="center">
                @Html.DisplayFor(u => users.UserName)
            </th>
        }
    </tr>
    <tr>
        <th>
            Favorite
        </th>
        <th>
            Underdog
        </th>
        <th>
            Spread
        </th>
        <th>
            Winner
        </th>
        @foreach (var users in Model.Users)
        {
            <th>
                Pick
            </th>
            <th>
                Bet
            </th>
            <th>
                Result
            </th>
        }
    </tr>

@foreach (var results in Model.Results)
{
    <tr>
        <td>
            @Html.DisplayFor(gr => results.GameResult.GameSpread.FavoriteTeam.TeamLongName)
        </td>
        <td>
            @Html.DisplayFor(gr => results.GameResult.GameSpread.UnderdogTeam.TeamLongName)
        </td>
        <td>
            @Html.DisplayFor(gr => results.GameResult.GameSpread.Spread)
        </td>
        <td>
            @Html.DisplayFor(gr => results.GameResult.WinnerTeam.TeamLongName)
        </td>
        @for (var i=0; i<results.UserGameSelections.Count; i++)
        {
            var userGameSelection = results.UserGameSelections[i];
        <td>
            @Html.DisplayFor(ugs => userGameSelection.PickTeam.TeamShortName)
        </td>
        <td>
            @Html.DisplayFor(ugs => userGameSelection.Bet)
        </td>
        <td>
            @if (results.UserGameResults.Count == 0)
            {
                @Html.Raw(0)
            }
            else
            {
                @Html.DisplayFor(ugr => results.UserGameResults[i].BetPoints)
            }
        </td>
        }
    </tr>
}
    <tr>
        <td colspan="4">
            Total
        </td>
        @foreach(var total in Model.Totals)
        {
            <td colspan="3">
                @total
            </td>
        }
    </tr>
</table>
