@model Selectum.Models.Selection

@{
    ViewBag.Title = "Resource Selections";
}

@using (Html.BeginForm())
{
    <table class="table">

    @{ var iCounter = -1; }
    @foreach (var item in Model.UserGameSelections)
    {
        iCounter = iCounter + 1;

        var yourSelection = "yourSelection" + iCounter;
        var btnProjA = "btnProjA" + iCounter;
        var btnProjB = "btnProjB" + iCounter;
        var btnNo = "btnNo" + iCounter;


        @Html.HiddenFor(i => i.UserGameSelections[item.UserGameSelectionId].UserGameSelectionId)
        @Html.HiddenFor(i => i.UserGameSelections[item.UserGameSelectionId].PickTeamId)
        @Html.HiddenFor(i => i.UserGameSelections[item.UserGameSelectionId].Bet)

        <tr id="@gamerow">
            <td>           
                <div class="btn-group" data-toggle="@selectionDataToggle">
                    <button id="@btnNoBe" class="btn btn-warning " type='submit' onclick='btnOnClick(@iCounter, "No Bet")'>No Bet</button>
                    <button id="@btnFavorite" class="btn btn-success" type='submit' onclick='btnOnClick(@iCounter, "@Html.DisplayFor(modelItem => item.Game.FavoriteTeam.TeamShortName)")'>@Html.DisplayFor(modelItem => item.Game.FavoriteTeam.TeamLongName)</button>
                    <button id="@btnUnderdog" class="btn btn-danger" type='submit' onclick='btnOnClick(@iCounter, "@Html.DisplayFor(modelItem => item.Game.UnderdogTeam.TeamShortName)")'>@Html.DisplayFor(modelItem => item.Game.UnderdogTeam.TeamLongName)</button>
                </div>
            </td>
            <td>
                <div class="btn-group" data-toggle="buttons-radio">
                    <button type="submit">Resources 0</button>
                    <button type="submit">1</button>
                    <button type="submit">2</button>
                    <button type="submit">3</button>
                </div>
        </tr>
    }
    </table>

    <input type="submit" value="Save" />
}

