<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>    
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/Scripts/Libs/jquery-1.8.3.js")
    @Scripts.Render("~/Scripts/Libs/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/Libs/bootstrap.min.js")
    @Scripts.Render("~/Scripts/Libs/knockout-2.2.0.debug.js")
    @Scripts.Render("~/Scripts/Libs/modernizr-2.5.3.js")
    <!--style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="navbar navbar-static-top">
                <div class="navbar-inner">
                    <a class="brand disabled">Selectum</a>
                    <ul class="nav" role="navigation">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Selections", "Index", "Selection")</li>
                        <li>@Html.ActionLink("Weekly Results", "Index", "ResultsByGame")</li>
                        <li>@Html.ActionLink("Standings", "Index", "OverallResultsByGameFilter")</li>
                        <li class="dropdown">
                            <a id="admindd" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="admindd">
                                <li>@Html.ActionLink("Processes", "GameFilter", "Admin")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Teams", "Index", "Team")</li>
                                <li>@Html.ActionLink("Game Filters", "Index", "GameFilter")</li>
                                <li>@Html.ActionLink("Games", "Index", "Game")</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                        <li>
                            <ul class="nav pull-right secondary-nav">
                                <li>@Html.Partial("_LoginPartial")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="body">
                @RenderSection("featured", required: false)
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div>
            <footer class="footer">
                <p>&copy; dkhunt27 2012</p>
            </footer>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
