@model Selectum.Models.Game

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Game</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GameFilter.GameFilterName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GameFilter.GameFilterName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GameDateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GameDateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FavoriteTeamId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FavoriteTeamId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UnderdogTeamId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnderdogTeamId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Spread)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Spread)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HomeTeam)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HomeTeam)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
