@model Selectum.Models.GameResult

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>GameResult</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GameSpread.GameSpreadId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GameSpread.GameSpreadId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WinnerTeam.TeamLongName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WinnerTeam.TeamLongName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FavoriteScore)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FavoriteScore)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UnderdogScore)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnderdogScore)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GamePeriod)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GamePeriod)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.GameResultId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
