@model Selectum.Models.GameResult

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>GameResult</legend>

        @Html.HiddenFor(model => model.GameResultId)

        <div class="editor-label">
            @Html.LabelFor(model => model.GameSpreadId, "GameSpread")
        </div>
        <div class="editor-field">
            @Html.DropDownList("GameSpreadId", String.Empty)
            @Html.ValidationMessageFor(model => model.GameSpreadId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WinnerTeamId, "WinnerTeam")
        </div>
        <div class="editor-field">
            @Html.DropDownList("WinnerTeamId", String.Empty)
            @Html.ValidationMessageFor(model => model.WinnerTeamId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FavoriteScore)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FavoriteScore)
            @Html.ValidationMessageFor(model => model.FavoriteScore)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnderdogScore)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnderdogScore)
            @Html.ValidationMessageFor(model => model.UnderdogScore)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GamePeriod)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GamePeriod)
            @Html.ValidationMessageFor(model => model.GamePeriod)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
