@model IEnumerable<Selectum.Models.UserGameSelection>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Game.FavoriteTeam.TeamLongName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game.UnderdogTeam.TeamLongName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game.Spread)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game.GameDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickTeam.TeamLongName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bet)
        </th>
        <th>
            <!-- empty for action buttons -->
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.Game.FavoriteTeam.TeamLongName)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Game.UnderdogTeam.TeamLongName)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Game.Spread)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Game.GameDateTime)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.PickTeam.TeamLongName)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Bet)
        </th>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserGameSelectionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserGameSelectionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserGameSelectionId })
        </td>
    </tr>
}

</table>
